<form method="post" action="{{ path('episode_delete', {'slug': episode.slug}) }}" onsubmit="return confirm({{ 'deleteItem'|trans }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>
