{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center mt-5 mb-5">{{ 'addSeason'|ttrans }}</h1>
    <main class="container">

    {{ include('season/_form.html.twig') }}

    <a class="btn text-light" href="{{ path('season_index') }}">< {{ 'backList'|trans }}</a>
    </main>
{% endblock %}
