<form method="post" action="{{ path('actor_delete', {'id': actor.id}) }}" onsubmit="return confirm({{ 'deleteItem'|trans }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actor.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>