<footer class="footer footer-expand-md bg-primary" id="footer">
	<div class="justify-content-center d-flex">
	<div class="p-3">
		<a class="text-light" href="" target="_blank">Mentions légales</a>
	</div>
	</div>
</footer>
