<nav class="navbar navbar-expand-lg navbar-light bg-primary">
	<div class="container-fluid">
		<img src="{{ asset('build/images/favicon.png') }}" alt="projector logo"/>
		<li class="wild-series fs-3">
			<div>Wild Series</div>
		</li>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse fs-5 " id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active ms-5" aria-current="page" href="/">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active ms-5" href="/program">Programme</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active ms-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégories
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Aventure</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Horreur</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Animation</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Science fiction</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Fantastique</a>
						</li>
					</ul>
				</li>
				<div>
					<li class="nav-item">
						<a class="nav-link active ms-5" href="/actor">Acteurs</a>
					</li>
				</div>
				<div>
					<li class="nav-item">
						<a class="nav-link active ms-5" href="#">Mes favoris</a>
					</li>
				</div>
				<div class="d-flex flex-direction-end">
					<li class="nav-item">
						<a class="nav-link active ms-5" href="#">Connexion</a>
					</li>
				</div>
			</ul>
		</div>
